@{
}

<h2>Crash record created successfully.</h2>
<a class="btn btn-primary" asp-controller="Account" asp-action="Admin"
   asp-route-severity="0" asp-route-pageNum="1" asp-route-searchString="0">Back to Admin</a>
