@{
}

<h2>Crash record deleted successfully.</h2>
<a class="btn btn-primary" asp-controller="Account" asp-action="Admin"
   asp-route-severity="0" asp-route-pageNum="1" asp-route-searchString="">Back to Admin</a>