@{
}

@model List<CrashBoard.Models.County>

<div class="container">
    <a asp-controller="Home" asp-action="CrashData" asp-route-county="0" asp-route-pageNum="1" class="btn btn-outline-primary btn-block">Home</a>

    @foreach(County c in Model)
    {
        <a asp-controller="Home" asp-action="CrashData" asp-route-county="@c.COUNTY_ID" asp-route-pageNum="1"
           class="btn btn-block @(ViewBag.SelectedCounty == c.COUNTY_ID.ToString() ? "btn-primary" : "btn-outline-primary")">@c.COUNTY_NAME</a>
    }
</div>