@{
    ViewData["Title"] = "Home";
}

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">UDOT CrashBoard</h1>
                    <p class="lead fw-normal text-white-50 mb-4">We are committed to finding effective solutions to keep Utah drivers safe.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-outline-light btn-lg px-4" href="#about">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="~/img/Traffic.jpg" width="600" alt="Traffic" /></div>
        </div>
    </div>
</header>

<!-- About the website -->
<section class="py-5" id="about">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="text-center">
                <h2 class="fw-bolder">About the CrashBoard</h2>
                <div class="lead fw-normal text-muted mb-0">
                    <p>
                        The UDOT CrashBoard is a resource designed to educate drivers as well as provide insights to state officials.
                        The <a asp-controller="Home" asp-action="Recommendations">Safety Tips</a> section suggests ways for drivers to
                        better protect themselves and others on the road. The <a asp-controller="Inference" asp-action="SeverityPredictor">
                        Crash Severity Predictor</a> allows both groups to predict the severity of a hypothetical crash.
                        A <a asp-controller="Home" asp-action="CrashData">Crash Database</a> has been provided with recent crash data.
                        Select officials will have the ability to log in and edit the data as needed. 
                        The <a asp-controller="Home" asp-action="Analysis">Analysis</a> page provides insights into the data to aid 
                        officials in finding solutions to help protect drivers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Issue Section -->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="~/img/Crash.jpeg" width="600" alt="UVX Crash" /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Distracted Driving</h2>
                <p class="lead fw-normal text-muted mb-0">
                    Utah faces many challenges when it comes to motor vehicle accidents. Far too many accidents and deaths
                    occur each year due to these accidents. Action needs to be taken to increase awareness and minimuze these events.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- About us section -->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="~/img/Message.jpg" width="600" alt="Freeway Message" />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Our Mission</h2>
                <p class="lead fw-normal text-muted mb-0">
                    Our team is striving to coordinate with the Utah Department of Transportation (UDOT) to
                    find data-driven solutions for this issue. We have provided a database with information about many of the motor vehicle accidents
                    during recent years. We have conducted detailed analytics to help lawmakers protect Utahns.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Team members section-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Our Team</h2>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/Thomas.jpg" alt="Thomas" />
                    <h5 class="fw-bolder">Thomas Lund</h5>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/Patricia.jpg" alt="Sierra" />
                    <h5 class="fw-bolder">Sierra Griffin</h5>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/Cade.jpg" alt="Cade" />
                    <h5 class="fw-bolder">Cade Jorgensen</h5>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/Jake.jpg" alt="Jake" />
                    <h5 class="fw-bolder">Jake Hadley</h5>
                </div>
            </div>
        </div>
    </div>
</section>