@{
    ViewData["title"] = "Safety Tips";
}

<div class="container">

    <br />
    <div class="text-center">
        <h1>Driver Safety Tips</h1>
    </div>
        
    <div class="d-flex justify-content-center">
        <p class="text-center col-8 p-2">
            To ensure the safety and health of Utah drivers, UDOT recommends that all drivers follow the <strong>Y.E.E.T.</strong> principle. Adhering to these
            guidlines will prevent fatal accidents and protect Utah citizens.
        </p>
    </div>

        <div class="d-flex justify-content-center">
            <div class="accordion w-50" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <h1 class="h1"><strong class="text-success" style="font-size:75px;">Y</strong>ou should wear a seatbelt</h1>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Wear a seatbelt at all times</li>
                                <li>Make sure young children have their seatbelt securely fastened</li>
                                <li>Wear your seatbelt properly</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h1 class="h1"><strong class="text-success" style="font-size:75px">E</strong>ase off the gas</h1>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Follow the speed limit on all roads</li>
                                <li>Come to a complete stop at red lights and stop signs</li>
                                <li>Practice defensive driving</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h1 class="h1"><strong class="text-success" style="font-size:75px">E</strong>nd drinking and driving</h1>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li>DO NOT drive after consuming illegal drugs or alcohol</li>
                                <li>Use ride-sharing services such as Uber or Lyft</li>
                                <li>Use a designated driver</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <h1 class="h1"><strong class="text-success" style="font-size:75px">T</strong>urn off your phone</h1>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li>DO NOT use electronic devices while driving</li>
                                <li>If possible, use hands-off car systems when making phone calls or sending texts</li>
                                <li>Pull over to the side of the road when you need to use an electronic device</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
</div>
