@{      
    ViewData["title"] = "Solutions";
}

<div class="container">

    <h2>Why this website adds value (i.e. analytics)</h2>

    <h2>How to use the site</h2>

    <h2>possible findings from our analytics?</h2>

</div>